body{
    background-color:black;
    display: grid;
    justify-content: center;

}
h1{
  color: pink;
  font-style: italic;
  font-size: 20mm;
}


#content{
  font-style: italic;
  display: grid;
  justify-content: center;
  color: whitesmoke;

}
#cost{
  font-style: oblique;
}